{# Template affichant les Itineraires et sorties associées #}
{# Légèrement compliqué, mais nécéssaire pour pouvoir afficher toutes les données sur mobile #}

{% extends 'itineraires/navBar.html' %} {% block content %} {% load static %}{% load bootstrap5 %}

<div class="container-fluid h-100">
  <div class="row">
    <div class="col-sm-6 pt-3 d-flex">
      <div id="imgCard" class="card text-white bg-transparent w-100">
        {% comment %} <img class="card-img-top" src={% static 'itineraires/photo.jpg' %} alt="">
        <div class="card-img-overlay">
          <h4 class="card-title">{{object.nom}}</h4>
          <p class="card-text">{{object.description|default_if_none:""}}</p> {% endcomment %}

          <!-- Carousel -->
          <div id="demo" class="carousel slide d-flex h-100 align-items-center" data-bs-interval="false">{% comment %}
            data-bs-ride="carousel" {% endcomment %}

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              {% for image in photos %}
              {% if forloop.first %}
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              {% else %}
              <button type="button" data-bs-target="#demo" data-bs-slide-to={{forloop.counter}}></button>
              {% endif %}
              {% endfor %}
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner bg-transparent">
              {% for image in photos %}
              {% if forloop.first %}
              <div class="carousel-item active h-100 ">
                <img class="card-img-top mx-auto " src={% static 'itineraires/photo.jpg' %} alt="">
                <a style="z-index:100"
                  class="btn position-absolute start-0 {% if user != sortie.randonneur %}disabled d-none{% endif %}"
                  href={% url 'itineraires:suppression_image' image.id%} role="button">&times</a>
              </div>
              {% else %}
              <div class="carousel-item">
                <img src={{image.image.url}} alt="no img" class="card-img-top">
                <a style="z-index:100"
                  class="btn btn-close btn-close-white p-3 position-absolute start-0 {% if user != image.sortie.randonneur %}disabled d-none{% endif %}"
                  href={% url 'itineraires:suppression_image' image.id%} role="button"></a>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 pt-3 d-flex">
        <div class="card w-100">
          <div class="card-body">
            <h1>{{ object.nom }}</h1>
            <p>Duration: {{ object.duree }}</p>
            <p>Difficulty: {{ object.difficulte }}</p>
            <p>Point de départ: {{ object.pointDeDepart |default_if_none:"Non connu"}}</p>
            <p>Altitude de départ: {{ object.altitudeDeDepart |default_if_none:"Non connue" }}</p>
            <p>Altitude max: {{ object.altitudeMax |default_if_none:"Non connu" }}</p>
            <p>Denivelé positif: {{ object.denivelePositif |default_if_none:"Non connu" }}</p>
            <p>Denivelé negatif: {{object.deniveleNegatif |default_if_none:"Non connu"}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid !direction !spacing pt-3 pb-3 pe-0 ps-0">
      <div class="card">
        <div class="card-body">

          <div class="d-flex">
            <div class="d-flex btn-group">
              <button class="btn btn-outline-secondary" data-bs-target="#demo2" data-bs-slide="prev">Sorties</button>
              <a name="" id="" class="btn btn-outline-secondary pt-1 w-100" href={% url 'itineraires:creation_sortie'%}
                role="button">+</a>
            </div>
            <div class="d-flex btn-group ms-auto">
              <button class="btn btn-outline-info pt-1 w-100" role="button" data-bs-toggle="collapse"
                data-bs-target="#textform" onclick="document.getElementById('combutton').click()">+</button>
              <button id="combutton" class=" btn btn-outline-info  " type="button" data-bs-target="#demo2"
                data-bs-slide="next">Commentaires</button>

            </div>

          </div>

          <div id="demo2" class="carousel slide" data-bs-wrap="false" data-bs-ride="carousel" data-bs-interval="false">


            <div class="carousel-inner">
              <div class="carousel-item">
                <div id="sorties" class="">

                  <div class="row d-none d-xl-flex">
                    <div class="col-2 ">Randonneur</div>
                    <div class="col-2 ">Date de sortie</div>
                    <div class="col-1 ">Météo</div>
                    <div class="col-1 ">Niveau</div>
                    <div class="col-1 ">Durée</div>
                    <div class="col-1 ">Difficulté</div>
                  </div>

                  <div class="row d-xl-none">
                    <div class="col-6 ">Date de sortie</div>
                    <div class="col-3 ">Durée</div>
                    <div class="col-3 ">Difficulté</div>
                  </div>

                  {% for sortie in  liste_sorties %}
                  <div class="row d-xl-none d-flex border-top" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sortie_btn{{sortie.id}}" aria-controls="1" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="col-6 pt-2 ">{{sortie.randonneur}}</div>
                    <div class="col-3 pt-2 ">{{sortie.duree}}h</div>
                    <div class="col-3 pt-2 ">{{sortie.difficulte}}</div>
                  </div>

                  <div id="sortie_btn{{sortie.id}}" class="collapse d-xl-none">
                    <div class="row d-flex flex-column">
                      <div class="pt-2 ">Météo: {{sortie.get_meteo_display}}</div>
                      <div class="pt-2 ">Date: {{sortie.date_sortie}}</div>
                      <div class="pt-2 ">Niveau: {{sortie.get_experience_display}}</div>
                      <div class="row pt-2 pb-2 d-flex justify-content-evenly">
                        <a class="btn btn-outline-warning col-5 {% if user != sortie.randonneur %}disabled{% endif %}"
                          href={% url 'itineraires:modification_sortie' sortie.id%} role="button">Modifier</a>
                        <a class="btn btn-outline-danger col-5 {% if user != sortie.randonneur %}disabled{% endif %}"
                          href={% url 'itineraires:suppression_sortie' sortie.id%} role="button">Delete</a>
                      </div>
                    </div>
                  </div>

                  <div class="row d-none d-xl-flex">
                    <div class="col-2 pt-2 ">{{sortie.randonneur}}</div>
                    <div class="col-2 pt-2 ">{{sortie.date_sortie}}</div>
                    <div class="col-1 pt-2 ">{{sortie.get_meteo_display}}</div>
                    <div class="col-1 pt-2 ">{{sortie.get_experience_display}}</div>
                    <div class="col-1 pt-2 ">{{sortie.duree}}h</div>
                    <div class="col-1 pt-2 ">{{sortie.difficulte}}</div>
                    <div class="row col-4 pt-2 d-flex justify-content-evenly">
                      <a class="btn btn-outline-warning col-4 pl-2 {% if user != sortie.randonneur %}disabled{% endif %}"
                        href={% url 'itineraires:modification_sortie' sortie.id%} role="button">Modifier</a>
                      <a class="btn btn-outline-danger col-4 pl-2 {% if user != sortie.randonneur %}disabled{% endif %}"
                        href={% url 'itineraires:suppression_sortie' sortie.id%} role="button">Delete</a>
                    </div>
                  </div>


                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item active">
                <div id="commentaires" class="list-group pt-3">
                  <div class="collapse" id="textform">
                    <form method="post" class="form">

                      {% csrf_token %}
                      {% bootstrap_form form%}
                      {% buttons %}
                      <button type="submit">OK</button>
                      {% endbuttons %}
                    </form>

                  </div>
                  {% for commentaire in commentaires %}
                  <li class="list-group-item border-0">
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item list-group-item-primary">{{commentaire.utilisateur}}</li>
                      <li class="list-group-item">{{commentaire.texte}}</li>
                    </ul>
                  </li>
                  {% endfor %}
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>


    </div>
  </div>




  {% endblock content %}
</div>