{# Permet la modification des sorties, accessible seulement à l'utilisatuer ayant crée la sortie #}

{% extends 'itineraires/navBar.html' %} {% load bootstrap5 %} 
  {% block title %}Modifier la sortie{% endblock title%} {% block content %}
<div class="container-fluid !direction !spacing">
  <form
    method="post"
    class="form"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    {% bootstrap_form form%}    
    {% bootstrap_form imgForm%}    
    
    
    {% buttons %}
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{% url 'itineraires:liste_itineraires' %}" class="btn btn-primary"
      >Cancel</a
    >
    {% endbuttons %}
  </form>
</div>

{% endblock content %}
