{# Definition de la barre de navigation qui sera sur toutes les pages #}

{% extends 'base.html' %} 
{% load static %}

{% block body %}

<nav class="navbar navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <div class="navbar-nav d-flex flex-row me-auto" >
      <a class="navbar-brand" href="#">TOPOGUIDE</a>
      <a class="nav-link active" aria-current="page" href={% url 'itineraires:liste_itineraires' %}>Itinéraires</a>
    </div>

    <div class="navbar-nav d-flex flex-row me-auto">
      <form method="POST" action={% url 'itineraires:searchResults' %}>
        {% csrf_token %}
        <label for="search"></label>
        <input type="search" id="search" name="search" placeholder="Search...">
        <input type="submit" value="OK">
      </form>
    </div>
    
    {% if user.is_authenticated %}
    <a name="" id="loginButton" class="btn btn-warning float-right mt-auto" href={% url 'logout' %} role="button" >Logout</a>
    {% else %}
    <a name="" id="loginButton" class="btn btn-success float-right mt-auto" href={% url 'login' %} role="button">Login</a>
    {% endif %}

  </div>
</nav>

{% block content %}{% endblock content %}

{% endblock body %}
