{% extends 'itineraires/navBar.html' %} 
{% load static %}

{% block content %}
<div class="container mt-3">
    <h1>Résulats de la recherche</h1>


    {% if liste_itinineraires %}
        <div class="container mt-3">
            <h2>Itinéraire(s) trouvé(s):</h2>

            <div class="table-responsive"> 
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Itinéraire</th>
                            <th>Durée</th>
                            <th>Difficultée</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for itineraire_double in liste_itinineraires %}
                            <tr classe="surlign">
                                {% if itineraire_double.1 == "title" %}
                                    <td  classe="surlign" ><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        <mark>{{ itineraire_double.0.nom }}</mark>
                                    </a></td>

                                {% else %}
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.0.nom }}
                                    </a></td>
                                {% endif %}
                                <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                    {{ itineraire_double.0.duree }}
                                </a></td>
                                <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                    {{ itineraire_double.0.difficulte }}
                                </a></td>

                            </tr>
                        </a>

                            {% if itineraire_double.1 == "description" %}
                                <tr>
                                    <td></td>
                                    <th>Description</th>
                                    <td><mark>{{ itineraire_double.0.description }}</mark></td>
                                </tr>
                            {% endif %}

                            {% if itineraire_double.1 == "pointDeDepart" %}
                            <tr>
                                <td></td>
                                <th>Point De Depart</th>
                                <td><mark>{{ itineraire_double.0.pointDeDepart }}</mark></td>
                            </tr>
                            {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}


    {% if liste_sorties %}
        <div class="container mt-3">
            <h2>Sortie(s) trouvée(s):</h2>

            <div class="table-responsive"> 
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Randonneur</th>
                            <th>Itineraires correspondant</th>
                            <th>Durée</th>
                            <th>Difficultée ressentie</th>
                            <th>Date d'ajout</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for sortie_double in liste_sorties %}

                            <tr classe="surlign">
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    <mark>{{ sortie_double.0.randonneur }}</mark>
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.itineraire }}
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.duree }}
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.difficulte}}/5
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.date_sortie }}
                                </a></td>
                                <td>
                                    {% if request.user == sortie_double.0.randonneur %}
                                        <a class="btn btn-outline-warning" href={% url 'itineraires:modification_sortie' sortie_double.0.id%} >Modifier</a>
                                        <a class="btn btn-outline-danger" href={% url 'itineraires:suppression_sortie' sortie_double.0.id%} >Delete</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

    {% if not liste_itinineraires  and not liste_sorties %}
        <p>Rien ne correspond à "{{ key_word }}"</p>
    {% endif %}

</div>

{% endblock content %}

