{# Page d'affichage de la recherche #}

{% extends 'itineraires/navBar.html' %} 
{% load static %}

{# En tête de la page #}
{% block content %}
<div class="container mt-3">
    <h1>Résulats de la recherche</h1>
    <p> mot-clé:"{{key_word|truncatechars:15}}" --- filtre:"{{filtre}}" </p>

    {# Affichage de la liste d'itinéraires trouvée #}
    {% if liste_itinineraires %}
        <div class="container mt-3">
            <h2>Itinéraire(s) trouvé(s):</h2> 
            

            <div class="table-responsive"> 
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Itinéraire</th>
                            <th>Durée</th>
                            <th>Difficultée</th>
                            {% if filtre == "difficultee-croissante-moy" %}
                                <th>Difficultée réelle</th>
                            {% endif %}
                            {% if filtre == "popularite-decroissante" %}
                                <th>Popularité</th>
                            {% endif %}
                            {% if filtre == "duree-croissante-moy" %}
                                <th>Durée réelle</th>
                            {% endif %}
                            {% if filtre == "niveau-exp-croissant-moy" %}
                                <th>Expérience moyenne</th>
                            {% endif %}
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for itineraire_double in liste_itinineraires %}
                            {% if itineraire_double.6 %}
                                <tr classe="surlign">
                                    {% if itineraire_double.1 == "title" %}
                                        <td  classe="surlign" ><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                            <mark>{{ itineraire_double.0.nom }}</mark>
                                        </a></td>
                                    {% else %}
                                        <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                            {{ itineraire_double.0.nom }}
                                        </a></td>
                                    {% endif %}
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.0.duree }}
                                    </a></td>
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.0.difficulte }}/5
                                    </a></td>
                                    {% if filtre == "difficultee-croissante-moy" %}
                                        <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                            {{ itineraire_double.2|floatformat:1 }}/5
                                        </a></td>
                                    {% endif %}
                                    {% if filtre == "popularite-decroissante" %}
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.3 }}
                                    </a></td>
                                    {% endif %}
                                    {% if filtre == "duree-croissante-moy" %}
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.4|time:"H\h i\m" }}
                                    </a></td>
                                    {% endif %}
                                    {% if filtre == "niveau-exp-croissant-moy" %}
                                    <td><a href="{% url 'itineraires:detail' itineraire_double.0.id %}">
                                        {{ itineraire_double.5|floatformat:1 }}/3
                                    </a></td>
                                    {% endif %}

                                </tr>
                            {% endif %}
                        </a>

                            {% if itineraire_double.1 == "description" %}
                                <tr>
                                    <td></td>
                                    <th>Description</th>
                                    <td><mark>{{ itineraire_double.0.description }}</mark></td>
                                </tr>
                            {% endif %}

                            {% if itineraire_double.1 == "pointDeDepart" %}
                            <tr>
                                <td></td>
                                <th>Point De Depart</th>
                                <td><mark>{{ itineraire_double.0.pointDeDepart }}</mark></td>
                            </tr>
                            {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {# Affichage de la liste de sorties trouvée #}
    {% if liste_sorties %}
        <div class="container mt-3">
            <h2>Sortie(s) trouvée(s):</h2>

            <div class="table-responsive"> 
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Randonneur</th>
                            <th>Itineraires correspondant</th>
                            <th>Durée</th>
                            <th>Difficultée ressentie</th>
                            <th>Date d'ajout</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for sortie_double in liste_sorties %}

                            <tr classe="surlign">
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    <mark>{{ sortie_double.0.randonneur }}</mark>
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.itineraire }}
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.duree }}
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.difficulte}}/5
                                </a></td>
                                <td><a href="{% url 'itineraires:sortie' sortie_double.0.id %}">
                                    {{ sortie_double.0.date_sortie }}
                                </a></td>
                                <td>
                                    {% if request.user == sortie_double.0.randonneur %}
                                        <a class="btn btn-outline-warning" href={% url 'itineraires:modification_sortie' sortie_double.0.id%} >Modifier</a>
                                        <a class="btn btn-outline-danger" href={% url 'itineraires:suppression_sortie' sortie_double.0.id%} >Delete</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

    {# Si rien n'a été trouvé #}
    {% if not liste_itinineraires  and not liste_sorties %}
        <p>Rien ne correspond à "{{ key_word }}"</p>
    {% endif %}

</div>

{% endblock content %}

