{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
{# Base Template with all imports #}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="text/javascript"
    ></script>

    {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #} 
    {%bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'itineraires/app.css' %}" />
    <title>{% block title %}Topoguide{% endblock %}</title>
  </head>

  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
